.header {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 100;
  background-color: white;
}
.custom-input {
  outline: none;
  background-color: var(--grey-color);
  border: none;
  font-weight: 600;
  font-size: 12px;
  padding-left: 3px;
  color: var(--grey-color-dark-3);
  letter-spacing: 0px !important;
}
.input-search {
  background-color: var(--grey-color);
  border-radius: 5px;
  height: 30px;
  min-width: 200px;
}
.input-search svg {
  fill: var(--grey-color-dark-2);
}
.navigate_to_home {
  all: unset;
}
.movie-details-header{
  color:var(--grey-color-dark-3);
  font-weight:600;
}
svg.home{
  cursor: pointer;
}
.left_Arrow{
  all:unset
}