.header {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.custom-input {
  outline: none;
  background-color: var(--grey-color);
  border: none;
  width: 350px;
  font-weight: 600;
  font-size: 12px;
  padding-left: 3px;
  color: var(--grey-color-dark-2);
  letter-spacing: 0px !important;
}
.input-search {
  background-color: var(--grey-color);
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
}
.input-search svg {
  fill: var(--grey-color-dark-2);
  stroke-width: 2;
}
.navigate_to_home {
  all: unset;
}
